.container
  max-width: 100%
  padding: 0 2rem

.navigation
  margin: 2rem 0 3rem

.navigationList

.navigationItem

.cards
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.card
  margin: 0 0 2rem 0
